body {

  background-color: rgb(195, 0, 255);
  font-family:'Arial Black';
}

h1 {

  
  font-family:'Arial Black';
  color: rgb(0, 0, 0);
  font-size: 4em;
  
  line-height: 150px;
  margin: 0px 0px 0px 10px;
  padding-left: 20px;
}

h2 {
  font-family:'Arial Black';
  color: rgb(15, 15, 15);
  font-size: 2em;
  margin-top: 50px;
  border-bottom: 2px rgb(10, 10, 10) dotted;
  overflow: hidden;
}
p {
color: #000000;
line-height: 150%;
padding-top: 10px;
padding-left: 60px;
}
#intro {
  font-size: larger;
  padding-bottom: 10px;
  background: #b2008594;
  border-left: solid 25px #5d96c493;
  margin-left: 10px;
  padding-left: 25px;
}
.highlight {
color: #0a0a0a;
}
p a {
color: #0f0f0f;
text-decoration: none;
border-bottom: 1px red dotted;
}
p a:visited {
color: #b20000;
}
.sidebar {
width: 200px;
float: right;
background: #b200858f;
padding: 25px;
margin-left: 15px;
margin-top: 50px;
color: rgb(15, 15, 15)55, 255, 255;
}

/*header style*/

header {

text-align: center; 

padding: 20px;

}

/*navigation menu style*/

nav {

text-align: center;

word-spacing: 30px;

Padding: 10px;

}

/*creating the two-column layout*/

*{

box-sizing: border-box;

}

.row {

display: flex;

flex-wrap: wrap;

}

.post-text-box {

flex: 70%;

padding: 20px;

}

.profile {

flex: 70%;

padding: 20px;

}

/*profile image and heading style*/

.profile img {

width: 120px;

display: block;

margin-left: 0;

margin-right: 0;

}

.profile h1 {

text-align: center;

}



